*{
    p{
        font-size: 20px;;
    }
}


body{
    color: #fffaf5;
    background-color: #104544;
    font: arial;
    cursor: url('./icones/rocket-solid.svg'), auto; 
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

nav a{
    color: #249f9c;
    font-size: 20px;
}

a:hover{
color:#f44786;
opacity: 0.5;

}


.container{
    padding: 0px 50px;
}
a{
    color:black;
    text-decoration: none;
}

.tittle{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid  white;
    
}

h1{
    color: #c11a62e4;
}
h2{
    color: #d0dede50;
}

h3{
    color:#249f9c;
}

.headerimg{
    text-align: center;
}


footer{
    display: flex;
    justify-content:center;
}
footer img{
    width: 40px;
    height: 40px;
    border: none;
}

footer a{
  margin: 40px;
  text-align: center;
  

}

/*Pagina Sobre Mim */



.div_header{
  width: 100%;
  height: 2px;
  background-color: #249f9c;
}

.header_sobre{
    display: flex;
    justify-content: center;
}
.linha{
    width: 100%;
    height: 1px;
    background-color: #e5325e;
}
.nav_sobre{
    display: flex;
}

.nav_sobre p{
    margin: 50px;
    padding: 50px;
    background-color: #249f9d2b;
    
}

.text_2{
    display: flex;
    flex-direction: column;
}
.linha{
    margin: 100px;
    width: 300px;
}